
@{
    ViewBag.Title = "ClientLoggedIn";
}

<h2>Welcome to New Africa Properties</h2>

@Html.ActionLink("Make a Booking", "Create", "Event")
@Html.ActionLink("View Your Booking", "Bookings", "Event")
@Html.ActionLink("View Your Invoice", "Invoice", "Event")